@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700';

body {
	background: #0d0d26;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

div.home-header {
	background: url("../img/aaacec.jpg") no-repeat;
	background-size: cover;
	height: 100%;
}

div.home-header > div {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.35);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(13,13,38,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.35)), color-stop(100%, rgba(13,13,38,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(13,13,38,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(13,13,38,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(13,13,38,1) 100%);
	padding: 2em;
}

ul.menu {
	list-style: none;
	padding: 0;
	width: 100%;
	margin-top: 1em;
	border-bottom: 1px solid #fff;
}

ul.menu li {
	display: inline-block;
	font-weight: 300;
	padding: 1em;
}

@font-face {
  font-family: 'Nexa';
  src:  url('../fonts/NexaLight.otf') format('woff2'),
        url('../fonts/NexaLight.otf') format('woff');
}

@font-face {
  font-family: 'Nexa';
  src:  url('../fonts/NexaBold.otf') format('woff2'),
        url('../fonts/NexaBold.otf') format('woff');
  font-weight: bold;
}

.home-header .title {
	text-align: center;
	color: #fff;
	padding: 2em 1.5em 0.5em;
    font-size: 50px;
	font-family: 'Nexa', Helvetica, sans-serif;
}

.home-header .description {
    text-align: center;
    color: #fff;
    padding: 0.5em 1.5em 3em;
    font-size: 18px;
    font-family: 'Open Sans';
}

.content {
    text-align: left;
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans';
}
