div.navigation-menu {
    padding: 2em;
    border-bottom: 1px solid #fff;
    margin: 0 2em;
}

ul.menu {
    display: inline-block;
	list-style: none;
	padding: 0;
	margin-top: 1em;
}

ul.menu li {
	display: inline-block;
	font-weight: 300;
	padding: 0em 2em;
    vertical-align: middle;
    font-weight: bold;
}

ul.menu li a {
    color: #fff;
}

ul.menu li a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}
