ul.menu {
	list-style: none;
	padding: 0;
	width: 100%;
	margin-top: 1em;
	border-bottom: 1px solid #fff;
}

ul.menu li {
	display: inline-block;
	font-weight: 300;
	padding: 1em;
    font-weight: bold;
}

ul.menu li a {
    color: #fff;
}

ul.menu li a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}
