div.produtos-bg {
    background: url("/img/produtos/bg.jpeg") no-repeat;
    background-size: cover;
    height: auto;
}

div.gradient-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(13,13,38,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.35)), color-stop(100%, rgba(13,13,38,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(13,13,38,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(13,13,38,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(13,13,38,1) 100%);
}

.content {
    text-align: left;
    font-size: 18px;
    font-family: 'Open Sans';
}

.content .fig {
    border: 7px solid #fff;
    box-shadow: 0 0 7px #ddd;
    margin: 2em;
    position: relative;
    width: 400px;
    height: 400px;
    display: block;
    overflow: hidden;
}

.content .fig .figcaption {
    background: rgba(0,0,0,0.65);
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms;
    z-index: 100;
    display: table;
}

.content .fig .figcaption .text {
    display: table-cell;
    font: 20px 'Nexa', Helvetica, sans-serif;
    top: -60px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.content .fig:hover .figcaption {
    opacity: 1;
}

.content .fig:hover .figcaption .text {
    -moz-transform: translateY(40px);
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
}

.content .fig img {
    display: block;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    width: 100%;
}

.content .fig:hover img{
    -webkit-transform: scale3d(1.2, 1.2, 1);
    -moz-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1.2, 1);
}
